{% extends "homepage/wrapper.html" %}

{% block content %}

<!--    <h3>Наши адреса:</h3>-->

<!--    {% for val in addresses %}-->
<!--        <p>{{val}}</p>-->
<!--    {% endfor %}-->

<div class="contact content">
	<p><span style="color: #ecb244; font: italic 30px OS;">ООО "Проспорт"</span></p>
	<p style="color: white">ООО "Проспорт"
	<br /> Свидетельство о регистрации № 191324235 выдано 16 марта 2010 г. <br /> Администрацией Первомайского р-на г. Минска <br /> Контактный телефон (8017) 393-91-69, (8017) 362-36-70<span style="color: #000000;"></span><br /> Адрес для почтовых отправлений: 220012, г. Минск, пр. Независимости, 93, подъезд 2, комн. 2 А-Б. <br /> Сайт: <a href="sport-pitanie.com">sport-pitanie.com</a></p>
	<h3 style="color: #ecb244; font: italic 30px OS;">Адреса магазинов</h3>
	<table>
		<tbody></tbody>
		<tbody>
			<tr>
				<td style="border: none; width: 50%; color: white">
					<p><span style="line-height: 1.5em;">г. Минск <br />
					</span> пр-т. Дзержинского д. 9 - 29 <br /> (ст.м. Грушевка)</p>
					<p></p>
					<p>
						<br />тел. 8-017-362-85-25
						<br /> 8-033-904-25-44 мтс
						<br /> время работы:
						<br />пн. &ndash; вс.&nbsp;- 10.00-21.00
						<br /><br />
					</p>
				</td>
				<td style="border: none; width: 50%; color: white">
					<p><span style="line-height: 1.5em;"> г. Минск <br />
					</span> пр-т. Независимости д. 93, подъезд 2 комн.2А-Б <br /> (ст.м. Парк Челюскинцев)</p>
					<p>тел. 8-044-714-29-49 velcom
						<br /> 8-017-393-91-69&nbsp;
						<br /> 8-017-362-36-70 факс
						<br /> время работы:
						<br />пн. &ndash; вс.&nbsp;- 10.00-21.00&nbsp;
					</p>
				</td>
			</tr>
			<tr>
				<td style="border: none; width: 50%; color: white">
					<p>г. Минск&nbsp;<br />ТЦ МОМО&nbsp;<br />пр-т. Партизанский д. 150А,&nbsp;<br />1 этаж (ст.м Могилевская)</p>
					<p>тел. 8-044-714-27-97 velcom&nbsp;<br />время работы:&nbsp;<br />пн. &ndash; вс. -&nbsp;10.00-22.00</p>
				</td>
				<td style="border: none; width: 50%; color: white">
				<p><span style="line-height: 1.5em;">
					<hr>
					г. Минск&nbsp;<br />
				</span>ул. Ленинградская д. 5<br />(ст.м. Площадь Ленина)</p>
					<p>тел.&nbsp;8-029-232-62-43 мтс&nbsp;
						<br />8-044-714-18-47 velcom
						<br />8-017-364-27-31
						<br />время работы:&nbsp;
						<br />вт. &ndash; сб.&nbsp;- 11.00-19.00&nbsp;
						<br />вс. &ndash; пн. -&nbsp;выходной
					</p>
				</td>
			</tr>
			<tr>
				<td style="border: none;">
				<p></p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}

