{% extends "homepage/wrapper.html" %}

<!--max-width: 540px;-->
{% block content %}

<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{item.image.url}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <h5 class="card-title">{{item.price}}</h5>
        <a href="#" class="btn btn-success btn-lg">Добавить в корзину</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
